@import url(./componentes/_variables.scss);
/* ((HEADER - INDEX - NAV)) */

    .header {    
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    font-family: tipoletra-primario;

    .title-vclibros{
        font-size: 3rem;
    }

    .ul-size a{
        font-size: $size-tipografia;
    }
    
}




