$fuentecolor-primario: rgba(92, 86, 86, 0.714);
$fuentecolor-secundario: rgba(69, 18, 18, 0.866);
$tipoletra-primario: 'Montserrat', sans-serif;
$tipoletra-secundario:'Castoro Titling', cursive;
$tamaño-cards: width "18rem";
$fuentecolor-violet: rgba(52, 12, 95, 0.789);